name: Delete docker workflow from DockerHub

on:
  workflow_call:
    inputs:
      cli:
        type: string
        required: true
    secrets:
      DOCKER_HUB_USER:
        required: true
      DOCKER_HUB_PASSWORD:
        required: true

jobs:
  delete-docker-hub:
    name: Delete Docker Hub image
    runs-on: ubuntu-22.04
    steps:
      - uses: docker/login-action@v2
        with:
          username: ${{ secrets.ZETTA_DOCKER_HUB_USER }}
          password: ${{ secrets.ZETTA_DOCKER_HUB_PASSWORD }}
      - name: Delete in Docker Hub
        run: ${{ inputs.cli }}