name: Reusable workflow to deploy in Apache Maven

on:
  workflow_call:
    inputs:
      maven_opts:
        type: string
        required: false
    secrets:
      MAVEN_NEXUS_USER:
        required: true
      MAVEN_NEXUS_PASSWORD:
        required: true
      MAVEN_GPG_PASSPHRASE:
        required: true
      MAVEN_GPG_PRIVATE_KEY:
        required: true

jobs:
  deploy-workflow:
    name: Deploy to Maven and GitHub Packages
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: '10'
      - name: Set up JDK 8
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '8'
          cache: 'maven'
          ## Future Nacho and Juanfe, please read this very carefully: DO NOT TOUCH!!!
          server-id: ossrh                                        # Value of the distributionManagement/repository/id field of the pom.xml
          server-username: MAVEN_NEXUS_USER                       # env variable for username in deploy
          server-password: MAVEN_NEXUS_PASSWORD                   # env variable for token in deploy
          gpg-private-key: ${{ secrets.MAVEN_GPG_PRIVATE_KEY }}   # Value of the GPG private key to import
          gpg-passphrase: MAVEN_GPG_PASSPHRASE                    # env variable for GPG private key passphrase
      - name: Deploy to Maven Central repository
        run: mvn clean deploy -DskipTests -P deploy-maven ${{ inputs.maven_opts }}
        env:
          MAVEN_NEXUS_USER: ${{ secrets.MAVEN_NEXUS_USER }}
          MAVEN_NEXUS_PASSWORD: ${{ secrets.MAVEN_NEXUS_PASSWORD }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.MAVEN_GPG_PASSPHRASE }}
      - name: Set up Java for publishing to GitHub Packages
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '8'
      - name: Deploy to GitHub Packages repository
        run: mvn clean deploy -DskipTests -P deploy-github ${{ inputs.maven_opts }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}