name: Reusable workflow to deploy in Apache Maven

on:
  workflow_call:
    secrets:
      MAVEN_NEXUS_USER:
        required: true
      MAVEN_NEXUS_PASSWORD:
        required: true
      MAVEN_GPG_PASSPHRASE:
        required: true
      MAVEN_GPG_PRIVATE_KEY:
        required: true

jobs:
  deploy-workflow:
    name: Deploy to Maven
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: '10'
      - name: Set up JDK 1.8
        uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: '8'
          server-id: ossrh                          # Value of the distributionManagement/repository/id field of the pom.xml
          server-username: MAVEN_NEXUS_USER         # env variable for username in deploy
          server-password: MAVEN_NEXUS_PASSWORD     # env variable for token in deploy
          gpg-private-key: ${{ secrets.MAVEN_GPG_PRIVATE_KEY }} # Value of the GPG private key to import
          gpg-passphrase: MAVEN_GPG_PASSPHRASE      # env variable for GPG private key passphrase
      - name: Setup Maven Action
        uses: s4u/setup-maven-action@v1.3.1
        with:
          java-version: 8
          maven-version: 3.6.3
      - name: Cache Maven packages
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-maven
      - name: Deploy to Maven Central respository
        run: mvn clean deploy -DskipTests -P deploy
        env:
          MAVEN_NEXUS_USER: ${{ secrets.MAVEN_NEXUS_USER }}
          MAVEN_NEXUS_PASSWORD: ${{ secrets.MAVEN_NEXUS_PASSWORD }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.MAVEN_GPG_PASSPHRASE }}
