name: Manual maven deploy workflow

on:
  workflow_dispatch:
    inputs:
      branch:
        description: "The branch, tag or SHA of the source code to build docker."
        type: string
        required: true
jobs:
  checkout:
    name: Build Java app
    runs-on: ${{ vars.UBUNTU_VERSION }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: '10'
          ref: "${{ inputs.branch }}"

  deploy-maven:
    uses: ./.github/workflows/deploy-maven-repository-workflow.yml
    needs: checkout
    secrets: inherit
