name: Test Keeper Secrets integration with Github Actions

on:
  workflow_dispatch:

jobs:
  buildexecutable:
    runs-on: ${{ vars.UBUNTU_VERSION }}
    name: Build with Keeper secrets
    steps:
      - name: Retrieve secrets from Keeper
        id: ksecrets
        uses: Keeper-Security/ksm-action@master
        with:
          keeper-secret-config: ${{ secrets.KEEPER_SM_GH_OPENCB }}
          secrets: |
            AZURE_KUBE_CONFIG/field/Secret Value > env:KEEPERTOKEN

      - name: Print Login & Password & URL
        run: |
          echo "Login is ${{ env.KEEPERTOKEN }}"